body{
    background-color: rgb(0, 0, 0);
    padding: 2%;
}

h1{
    color: bisque;
}
h4{
    color:  rgb(110, 110, 110);
}

p{
    width: 2px;
    height: 2px;
}

img{
    width: 250px;
    height: 150px;
}

.hero {
    position: relative;
    background-color: black; /* Cor de fundo de fallback */
}

.hero .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Opacidade do fundo */
    z-index: 1; /* Colocar o overlay sobre a imagem */
}

.hero .container {
    position: relative;
    z-index: 2; /* Garantir que o conteúdo fique sobre o overlay */
}

.hero .carousel-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Garantir que a imagem cubra todo o espaço */
}

.hero {
    background-image: url('img/VIPIMPORTADOS.png');
    background-size: cover;
    background-position: center; /* Centraliza a imagem */
    width: 100%;
    height: 100vh;
    padding: 0;
    margin: 0;
}

.btn-black {
    background-color: #000; /* Cor preta */
    color: #fff; /* Cor do texto */
    border-color: #000; /* Cor da borda */
}

.btn-black:hover {
    background-color: #333; /* Cor preta mais escura no hover */
    border-color: #333; /* Cor da borda no hover */
}

